<div>
  <h3 class="text-white">Users</h3>
  <table class="table table-dark table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>RUT</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Fecha Nacimiento</th>
        <th>Edad</th>
        <th>Sexo</th>
        <th>Saldo</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track i; let i = $index;) {
      <tr class="pointer">
        <td>{{i + 1}}</td>
        <td>{{user.rut}}</td>
        <td>{{user.nombres}}</td>
        <td>{{user.apellidos}}</td>
        <td>{{user.fechaNacimiento}}</td>
        <td>{{user.edad}}</td>
        <td>{{user.sexo}}</td>
        <td>{{user.saldo | CLP }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>