<div>
  <h3 class="text-white">Add User</h3>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label htmlFor="rut" class="form-label text-white">RUT</label>
      <input type="text" [ngClass]="`form-control ${rut?.valid ? '' : 'is-invalid'}`" formControlName="rut" rut />
      <span class="text-danger">
        <div *ngIf="rut?.errors?.['required']">
          El rut es obligatorio
        </div>
        <div *ngIf="rut?.errors?.['pattern']">
          El formato del rut debe ser {{ rut?.errors?.['pattern']?.requiredPattern }}
        </div>
        <div *ngIf="rut?.errors?.['minlength']">
          El rut debe poseer al menos {{rut?.errors?.['minlength']?.requiredLength }} caracteres
        </div>
        <div *ngIf="rut?.errors?.['maxlength']">
          El rut debe poseer máximo {{rut?.errors?.['maxlength']?.requiredLength }} caracteres
        </div>
      </span>
    </div>
    <div class="mb-3">
      <label htmlFor="nombres" class="form-label text-white">Nombres</label>
      <input type="text" [ngClass]="`form-control ${nombres?.valid ? '' : 'is-invalid'}`" formControlName="nombres" />
      <span class="text-danger">
        <div *ngIf="nombres?.errors?.['required']">
          Los nombres son obligatorios
        </div>
        <div *ngIf="nombres?.errors?.['pattern']">
          El formato de los nombres debe ser {{ nombres?.errors?.['pattern']?.requiredPattern }}
        </div>
        <div *ngIf="nombres?.errors?.['minlength']">
          Los nombres deben poseer al menos {{ nombres?.errors?.['minlength']?.requiredLength }} caracteres
        </div>
        <div *ngIf="nombres?.errors?.['maxlength']">
          Los nombres deben poseer máximo {{ nombres?.errors?.['maxlength']?.requiredLength }} caracteres
        </div>
      </span>
    </div>
    <div class="mb-3">
      <label htmlFor="apellidos" class="form-label text-white">Apellidos</label>
      <input type="text" [ngClass]="`form-control ${apellidos?.valid ? '' : 'is-invalid'}`" formControlName="apellidos" />
      <span class="text-danger">
        <div *ngIf="apellidos?.errors?.['required']">
          Los apellidos son obligatorios
        </div>
        <div *ngIf="apellidos?.errors?.['pattern']">
          El formato de los apellidos debe ser {{ apellidos?.errors?.['pattern']?.requiredPattern }}
        </div>
        <div *ngIf="apellidos?.errors?.['minlength']">
          Los apellidos deben poseer al menos {{ apellidos?.errors?.['minlength']?.requiredLength }} caracteres
        </div>
        <div *ngIf="apellidos?.errors?.['maxlength']">
          Los apellidos deben poseer máximo {{ apellidos?.errors?.['maxlength']?.requiredLength }} caracteres
        </div>
      </span>
    </div>
    <div class="mb-3">
      <label htmlFor="fechaNacimiento" class="form-label text-white">Fecha de nacimiento</label>
      <input type="date" [ngClass]="`form-control ${fechaNacimiento?.valid ? '' : 'is-invalid'}`" formControlName="fechaNacimiento" (change)="onFechaNacimientoChange()" />
      <span class="text-danger">
        <div *ngIf="fechaNacimiento?.errors?.['required']">
          La fecha de nacimiento es obligatoria
        </div>
        <div *ngIf="fechaNacimiento?.errors?.['pattern']">
          El formato de la fecha de nacimiento debe ser {{ fechaNacimiento?.errors?.['pattern']?.requiredPattern }}
        </div>
        <div *ngIf="fechaNacimiento?.errors?.['minDate']">
          La fecha de nacimiento debe ser mayor o igual a {{ fechaNacimiento?.errors?.['minDate']?.requiredDate }}
        </div>
        <div *ngIf="fechaNacimiento?.errors?.['minlength']">
          La fecha de nacimiento debe poseer al menos {{ fechaNacimiento?.errors?.['minlength']?.requiredLength }} caracteres
        </div>
        <div *ngIf="fechaNacimiento?.errors?.['maxlength']">
          La fecha de nacimiento debe poseer máximo {{ fechaNacimiento?.errors?.['maxlength']?.requiredLength }} caracteres
        </div>
      </span>
    </div>
    <div class="mb-3">
      <label htmlFor="edad" class="form-label text-white">Edad</label>
      <input type="number" [ngClass]="`form-control ${edad?.valid ? '' : 'is-invalid'}`" formControlName="edad" readOnly />
      <span class="text-danger">
        <div *ngIf="edad?.errors?.['required']">
          La edad es obligatoria
        </div>
      <div *ngIf="edad?.errors?.['pattern']">
          El formato de la edad debe ser {{ edad?.errors?.['pattern']?.requiredPattern }}
        </div>
      <div *ngIf="edad?.errors?.['min']">
          La edad mínima debe ser {{ edad?.errors?.['min']?.min }}
        </div>
      <div *ngIf="edad?.errors?.['max']">
          La edad máxima debe ser {{ edad?.errors?.['max']?.max }}
        </div>
      </span>
    </div>
    <div class="mb-3">
      <label class="form-label text-white">Sexo</label>
      <br />
      <input type="checkbox" [ngClass]="`form-check-input ${sexoSeleccionado !== '' ? '' : 'is-invalid'}`" id="sexoM" value="M" (change)="onSexoChange($event)" />
      <label class="form-check-label text-white ms-1 me-2" htmlFor="sexoM">Masculino</label>
      <input type="checkbox" [ngClass]="`form-check-input ${sexoSeleccionado !== '' ? '' : 'is-invalid'}`" id="sexoF" value="F" (change)="onSexoChange($event)" />
      <label class="form-check-label text-white ms-1" htmlFor="sexoF">Femenino</label>
      <br />
      <span class="text-danger">
        <div *ngIf="sexo?.errors?.['required']">
          El sexo es obligatorio
        </div>
        <div *ngIf="sexo?.errors?.['pattern']">
          El formato del sexo debe ser {{ sexo?.errors?.['pattern']?.requiredPattern }}
        </div>
      </span>
    </div>
    <div class="mb-3">
      <label htmlFor="saldo" class="form-label text-white">Saldo</label>
      <input type="number" [ngClass]="`form-control ${saldo?.valid ? '' : 'is-invalid'}`" formControlName="saldo" />
      <span class="text-danger">
        <div *ngIf="saldo?.errors?.['required']">
          El saldo es obligatorio
        </div>
        <div *ngIf="saldo?.errors?.['pattern']">
          El formato del saldo debe ser {{ saldo?.errors?.['pattern']?.requiredPattern }}
        </div>
        <div *ngIf="saldo?.errors?.['min']">
          El saldo mínimo debe ser {{ saldo?.errors?.['min']?.min }}
        </div>
        <div *ngIf="saldo?.errors?.['max']">
          El saldo máximo debe ser {{ saldo?.errors?.['max']?.max }}
        </div>
      </span>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <button type="reset" class="btn btn-secondary ms-2">Limpiar</button>
  </form>
</div>